.contestBlock, .playerBlock {
	border: 1px solid black;
	cursor: pointer;
	display: table;
	font-size: 18px;
	margin: 5px auto;
	padding: 5px 10px;
	width: 99%;
}

.contestTitle, .playerName {
	display: table-cell;
	vertical-align: middle;
}

.contestDateTime {
	display: table-cell;
	text-align: right;
	vertical-align: middle;

	.time {
		font-weight: bold;
	}
}

.playerNumbers {
	display: table-cell;
	text-align: right;
	vertical-align: middle;

	label {
		font-size: 12px;
	}

	.salary {
		font-weight: bold;
	}
}
