.contestBlock, .playerBlock {
	border: 1px solid black;
	cursor: pointer;
	display: table;
	font-size: 18px;
	margin: 5px auto;
	padding: 5px 10px;
	width: 99%;
}

@mixin cell {
    display: table-cell;
    vertical-align: middle;
}

.contestTitle, .playerName, .playerNews, .playerStarting, .playerInjury {
	@include cell;
    width: 1px;
}

.playerNews .border {
    border: 1px solid black;
	font-size: 12px;
	line-height: 10px;
	margin-left: 5px;
	text-align: center;

	&.recent {
		background-color: yellow;
	}

	span {
		position: relative;
		top: -1px;
	}
}

.playerStarting .border {
	background-color: #53A31A;
	color: white;
	font-size: 10px;
	line-height: 10px;
	margin-left: 5px;
	padding: 1px 2px;
}

.playerInjury .border {
	border: 1px solid transparent;
	font-size: 10px;
	line-height: 10px;
	margin-left: 5px;
	padding: 0 1px;

	&.out {
		border-color: #9B1010;
		color: #9B1010;
	}
	&.possible {
		border-color: #EB8500;
		color: #EB8500;
	}
	&.probable {
		border-color: #53A31A;
		color: #53A31A;
	}
}

.contestDateTime {
    @include cell;
	text-align: right;

	.time {
		font-weight: bold;
	}
}

.playerNumbers {
    @include cell;
	text-align: right;

	label {
		font-size: 12px;
	}

	.salary {
		font-weight: bold;
	}
}

.playerCardNews {
	.date {
		font-weight: bold;
	}
}
