.contest-list {
    padding: 0;
}

.contest-block {
    cursor: pointer;
    font-size: 18px;

    &:hover {
        background-color: #C5E9FB;
    }
}

.contest-spacer {
    flex: 1 1 auto;
}

.contest-time {
    font-weight: bold;
    text-align: right;
}

.contest-date {
    text-align: right;
}
