<div class="mat-app-background example-container">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">Responsive App</h1>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #snav [mode]="over" [fixedInViewport]="true" fixedTopGap="112">
            <mat-nav-list>
                <ng-container *ngFor="let contestPosition of contestPositions$ | async">
                    <ng-container *ngIf="selectedPosition$ | async as selectedPosition">
                        <a mat-list-item (click)="setSelectedPosition(contestPosition)" [class.selected]="selectedPosition === contestPosition">{{contestPosition.label}}</a>
                    </ng-container>
                </ng-container>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <div *ngFor="let player of selectedPlayers$ | async">
                <h2>{{player.name}}</h2>
                {{player.salary}}
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>