.toolbar-nav-toggle {
    margin-right: 5px;
}

.position-list, .player-list {
    padding: 0;
}

.position-list {
    .selected {
        background-color: #C5E9FB;
    }
}

.player-block {
    font-size: 18px;
}

.player-spacer {
    flex: 1 1 auto;
}

.player-salary {
    text-align: right;
}

.player-projection {
    font-weight: bold;
    text-align: right;
}
